@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "Fredoka", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.75);
  background-color: #272727;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #c2c5f4;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
  background-color: #1a1d47;
}

button:active {
  background-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.topbar {
  display: flex;
  background-color: #1f1f1f;
}

.navigation:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navigation {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.page:hover {
  background-color: #3d3d3d;
  padding-bottom: 10px;
  padding-top: 10px;
}

.title {
  font-weight: 700;
  font-size: 2.2em;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery a {
  text-decoration: none;
}

.gallery div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 512px;
  background-color: #0000002e;
}

.gallery img {
  max-width: 512px;
  max-height: 512px;
  object-fit: contain;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
}

.primes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prime-input {
  font-size: 1em;
  border: 0;
  background-color: transparent;
  font-family: "Fredoka";
  text-align: center;
  width: 100%;
}

.prime-input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.prime-input:focus {
  outline: none;
}

.prime-hud {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.prime-v {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  flex-grow: 1;
}

.prime-v.mid {
  flex-grow: 2;
  width: 200px;
}

.prime-v.right,
.prime-v.left {
  color: rgba(255, 255, 255, 0.25);
}
